.nav {
  grid-area: nav;
  background-color: rgb(236, 182, 81);
  border-radius: 15px;
}

.nav ul {
  padding: 20px 40px;
}

.item {
  list-style-type: none;
}

.item a {
  color: white;
  text-decoration: none;
}

.item.active a{
  color: black;
}