.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_names {
    padding: 10px;
}

.dialogs_name a {
    text-decoration: none;
    color: white;
}

.dialogs_name a:hover {
    color: #757575;
}

.dialogs_messages {
    padding: 10px;
}

.dialogs_names .active a {
    color: gold;
}

.dialogs_message {
    color: white;
}